/* */

/*fuente*/

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

@media screen (max-width:768px) {
    .inicio {
        width: 100%;
         
    }

    .col {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .inicio h2 {
        width: 80%;
        font-size: 50px;
    }
    .inicio h5 {
        width: 80%;
        font-size: 25px ;
    }

    .inicio p {
        width: 80%;
        font-size: 15px;
    }

    .container svg {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .inicio {
        width:100%;
    }

    .col {
        width: 100%;
    }

    .container {
        width:100%;
    }

    .inicio h2 {
        width: 80%;
        font-size: 40px;
    }

    .inicio h5 {
        width: 80%;
        font-size: 20px ;
    }

    .inicio p {
        width: 80%;
        font-size: 10px;
    }

    .container svg {
        width: 100%;
    }
}

.card-body h5 {
    color: #5faaae;

}

.contenedor1 {
    width: 100%;
    max-width: 1700px;
    margin: auto;
    overflow: hidden;
}

.celeste {
    background-color: #5faaae;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.card-group .card-title {
    color: #093739;
    font-size: 25px;
    padding: 10px;
    text-align: center;

}

header {
    background-color: #5faaae;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

body {
    font-family: 'Reem Kufi', sans-serif;
}



.inicio .parrafoinicio {
    color: #292F2F;
    padding: 20px;
    margin: 40px 50px 50px;
    text-align: center;
    font-size: 50px;
}



nav a{
    font-weight: 400px;
    margin-left: 10px;
    margin-right: 10px;
}


ul {
    list-style-type: none;
}
li {
    display: inline-block;
}


a {
    text-decoration: none;
    color: #292F2F;
    font-size: 20px;
}

h1 {
    color: #292F2F;
    padding: 10px;
    margin: 40px 40px 0px 40px;
    text-align: center;
    font-size: 60px;
}

.parrafoinicio {
    color: #292F2F;
    padding: 10px;
    margin: 40px 50px 40px;
    text-align: center;
    font-size: 150px;
}


.iniciopage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "box1 box2 box3";
    grid-column-gap: 15px;
 }

.inicio h2 {
    color: #27a9b0;
    padding: 20px;
}


.inicio p {
    text-align: center;
    font-size: 15px;
    color: #292F2F;
    padding: 30px;
    font-size: 26px;
}

p {
    color: #3a4141;
    font-size: 25px;
    text-align: left;
    padding: 20px;
    margin-left: 4px;
    margin-right: 10px;
}


h2 {
    text-align: center;
    color: #27a9b0;
    font-size: 70px;
    padding: 20px;
    margin: 40px;
    margin-top: 75px;
}




svg {
    padding: 20px;
    margin: 30px 50px 30px 50px;
}

.tha {
    border-radius: 1%;
    transition: width .25s, box-shadow .5s;
    width: 300px;
    margin: 7px;
    height: 370px;
}

.tha:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    width: 330px;
}

.arg {
    border-radius: 1%;
    transition: width .25s, box-shadow .5s;
    width: 300px;
    margin: 7px;
    height: 370px;
}

.arg:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    width: 330px;
}

.ita {
    border-radius: 1%;
    transition: width .25s, box-shadow .5s;
    width: 300px;
    margin: 7px;
    height: 370px;
}

.ita:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    width: 330px;
}


.container {
    width: 100%;
    display: flex;
    place-content: center center;
}

.container path {
    fill: #E3EDED;
    stroke: black;
}

.container .Argentina {
    fill: #63C0C4;
}

.container .Colombia {
    fill: #63C0C4;
}


.container .France {
    fill: #63C0C4;
}

.container .Spain {
    fill: #63C0C4;
}

.container .Italy {
    fill: #63C0C4;
}

.container .Thailand {
    fill: #63C0C4;
}

.container .Maldives {
    fill: #63C0C4;
}

.container .India {
    fill: #63C0C4;
}

.container .Germany {
    fill: #63C0C4;
}


.container .Mexico {
    fill: #63C0C4;
}


h3 {
    color: #1b7373;
    font-size: 50px;
    padding: 25px;
    margin: 20px;
    text-align: center;
}

h4 {
    color: #292F2F;
    font-size: 30px;
    padding: 10px;
    margin-left: 5px;
    margin-top: 19px;
    margin-bottom: 10px;
}

h5 {
    color: #093739;
    font-size: 30px;
    padding: 10px;
    margin-left: 9px;
}